@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 12, 12, 12;
  --background-end-rgb: 33, 33, 33;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

main {
  @apply m-auto p-8 sm:px-16 max-w-screen-md min-h-screen
}

a {
  @apply hover:opacity-80 active:opacity-60
}

p {
  @apply my-4
}

ul {
  @apply list-disc
}

article {
  a {
    @apply text-sky-400 font-medium
  }

  h1, h2, h3, h4 {
    @apply my-2
  }

  h1 {
    @apply text-5xl uppercase font-extrabold
  }

  h2 {
    @apply text-3xl font-bold
  }

  h3 {
    @apply text-2xl font-bold
  }

  h4 {
    @apply text-lg font-bold
  }

  section {
    @apply my-10
  }
}