@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 12, 12, 12;
  --background-end-rgb: 33, 33, 33;
  --nav-height: 48px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

nav {
  height: --nav-height;
}

main {
  @apply m-auto py-4 px-8 sm:px-16 sm:py-8 max-w-screen-md mt-[--nav-height]
}

a {
  @apply hover:opacity-80 active:opacity-60
}

p {
  @apply my-4
}

ul {
  @apply list-disc
}

img, video {
  @apply rounded-lg
}

article {
  a {
    @apply text-sky-400 font-medium
  }

  h1 {
    @apply text-4xl sm:text-5xl uppercase font-extrabold my-3
  }

  h2 {
    @apply text-2xl font-bold my-2
  }

  h3 {
    @apply text-xl font-bold my-2
  }

  h4 {
    @apply text-lg font-bold my-2
  }

  section {
    @apply my-10
  }
}