@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 12, 12, 12;
  --background-end-rgb: 23, 23, 23;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  @apply hover:opacity-80 active:opacity-60  
}

article a {
  @apply text-sky-400 font-medium
}

p {
  @apply py-2
}

code {
  @apply bg-gray-200 text-gray-800 px-1 py-0.5 rounded-md
}
